# Writable directories
/writable/cache/*
!/writable/cache/.gitkeep

/writable/logs/*
!/writable/logs/.gitkeep

/writable/session/*
!/writable/session/.gitkeep

/writable/uploads/*
!/writable/uploads/.gitkeep

/writable/*
!writable/.gitkeep

# Dependencies
/vendor/

# Environment files (IGNORE ALL)
.env
.env.*
!.env.example
"Test-NetConnection" 
"ping" 



public/uploads/
